# Project Group - 26

Members: Joris Veen, Frans Kraanen, Romee Hoogeveen, Jasper van Raaij, Olivier Klein Schiphorst

Student numbers: 4722868, 4727282, 4850025, 5177006, 4705106

# Research Objective

*Requires data modeling and quantitative research in Transport, Infrastructure & Logistics*

To transport goods on the road vehicles need fuel to drive. The prices of fuel can fluctuate a lot so this can lead to high or low costs for tranport companies. This research will try to find out if the prices of fuel have an influence on the road transport. The following research question is proposed:


**Research question:** 

- How do fuel prices influence road transport of goods expressed in tons in the Netherlands?

**sub-questions:** 

- How do fuel prices influence incoming transport of goods in the Netherlands?
- How do fuel prices influence throughgoing transport of goods in the Netherlands?
- How do fuel prices influence outgoing transport of goods in the Netherlands?

First the available data will be explored and secondly we will focus to answer our research questions. The data available is from 2007 till 2022. The data used is focussed on the Netherlands only.

# Contribution Statement

*Be specific. Some of the tasks can be coding (expect everyone to do this), background research, conceptualisation, visualisation, data analysis, data modelling*

**Author 1**:

**Author 2**:

**Author 3**:

# Data Used

- CBS: International trade and transport in the Netherlands https://opendata.cbs.nl/statline/#/CBS/nl/dataset/84668NED/table?ts=1696403890264
- CBS: Fuel prices in the Netherlands https://opendata.cbs.nl/#/CBS/nl/dataset/80416ned/table

# Data Pipeline

Data Preparation

In [1]:
# import necassary libraries
import pandas as pd

#load datasets
fuel_data = pd.read_csv('fuel_prices.csv', delimiter=';')
transport_data = pd.read_csv('road_transport.csv', delimiter=';')

In [2]:
fuel_data.head()

                   Perioden Benzine Diesel    Lpg
0     2006 zondag 1 januari   1,325  1,003  0,543
1    2006 maandag 2 januari   1,328  1,007  0,542
2    2006 dinsdag 3 januari   1,332  1,007   0,54
3   2006 woensdag 4 januari   1,348   1,02   0,55
4  2006 donderdag 5 januari   1,347  1,021   0,55

In [3]:
transport_data.head()

              Goederenstromen Perioden    1000 kg
0  Inkomend transport; totaal    2007*  103838966
1  Inkomend transport; totaal    2008*  103405705
2  Inkomend transport; totaal    2009*   89433416
3  Inkomend transport; totaal    2010*   89935769
4  Inkomend transport; totaal    2011*   91253760

In [4]:
#only run this cell one time
from datetime import datetime

# Custom function to convert a date string to a Pandas datetime
def parse_date(date_str):
    for i, month_name in enumerate(dutch_months):
        date_str = date_str.replace(month_name, datetime(2000, i+1, 1).strftime('%B'))

    for i, day_name in enumerate(dutch_days):
        date_str = date_str.replace(day_name, datetime(2000, 1, i+1).strftime('%A'))

    date_format = '%Y %A %d %B'
    return pd.to_datetime(date_str, format=date_format)

# Define Dutch months and day names
dutch_months = ['januari', 'februari', 'maart', 'april', 'mei', 'juni', 'juli', 'augustus', 'september', 'oktober', 'november', 'december']
dutch_days = ['zondag', 'maandag', 'dinsdag', 'woensdag', 'donderdag', 'vrijdag', 'zaterdag']

# Apply the custom function to the "Perioden" column
fuel_data['Perioden'] = fuel_data['Perioden'].apply(parse_date)

#set perioden to datetime format year
fuel_data['Perioden'] = fuel_data['Perioden'].dt.year

#replace , to . and set to float
fuel_data['Benzine'] = fuel_data['Benzine'].str.replace(',', '.', regex=False)
fuel_data['Benzine'] = fuel_data['Benzine'].astype(float)
fuel_data['Diesel'] = fuel_data['Diesel'].str.replace(',', '.', regex=False)
fuel_data['Diesel'] = fuel_data['Diesel'].astype(float)
fuel_data['Lpg'] = fuel_data['Lpg'].str.replace(',', '.', regex=False)
fuel_data['Lpg'] = fuel_data['Lpg'].astype(float)

# Group by year and calculate the mean for all columns
fuel_data = fuel_data.groupby('Perioden').mean().reset_index()

# Display the DataFrame with the converted dates
fuel_data.head()

   Perioden   Benzine    Diesel       Lpg
0      2006  1.373255  1.043211  0.520479
1      2007  1.414156  1.059721  0.538271
2      2008  1.476393  1.241314  0.598790
3      2009  1.354011  1.012929  0.509482
4      2010  1.503186  1.170838  0.644268

In [5]:
#only run this cell one time
#remove asterix from tansport data
transport_data['Perioden'] = transport_data['Perioden'].str.replace('*', '', regex=False)

#set perioden to datetime format year
transport_data['Perioden'] = pd.to_datetime(transport_data['Perioden'])
transport_data['Perioden'] = transport_data['Perioden'].dt.year

In [6]:
transport_data.head()

              Goederenstromen  Perioden    1000 kg
0  Inkomend transport; totaal      2007  103838966
1  Inkomend transport; totaal      2008  103405705
2  Inkomend transport; totaal      2009   89433416
3  Inkomend transport; totaal      2010   89935769
4  Inkomend transport; totaal      2011   91253760